.wrapper {
	width: 500px;
	height: 300px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"red blue green"
		"red yellow green";
}

.red {
	background-color: red;
	grid-area: red;
}

.green {
	background-color: green;
	grid-area: green;
}

.blue {
	background-color: blue;
	grid-area: blue;
}

.yellow {
	background-color: yellow;
	grid-area: yellow;
}

.wrapper__item {
	color: white;
	font-size: 20px;
	/* background-color: cornflowerblue; */
}
