* {
	background-color: darkgrey;
}

p,
div {
	background-color: cadetblue;
}

#paragraph {
	background-color: red;
}

.division {
	background-color: yellow;
}

section p {
	background-color: deepskyblue;
}

div > p {
	background-color: forestgreen;
}

/* div + p {
    background-color: blueviolet;
} */

div ~ p {
	background-color: blueviolet;
}
