@import url("../example6/styles.css");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	font-family: "Muli", sans-serif;
}

.bottom {
	background-color: green;
}

@media screen, print {
	.bottom {
		background-color: yellow;
	}
}

p {
	color: blue;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 20px;
	text-decoration: dotted;
	font-weight: 700;
	font-style: italic;
	line-height: 40px;
	text-transform: lowercase;
}

.box {
	width: 100px;
	height: 100px;
	padding: 10px 5px 2px 1px;
	/* padding-left: 5px; */
	border: 2px solid;
	/* border-left: 5px solid; */
	margin: 1px 2px 5px 10px;
	/* margin-left: 5px; */
	font-size: 10px;
	background-color: hotpink;
	text-align: center;
}

.advertisment {
	display: none;
	font-size: 10px;
	background-color: red;
}

.parent {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: red;
}

.rectangle {
	position: absolute;
	width: 150px;
	height: 50px;
	background-color: black;
	top: 10px;
	left: 25px;
}

.menu {
	position: sticky;
	top: 0;
	width: 100%;
	height: 20px;
	background-color: darkgoldenrod;
}

.container {
	width: 500px;
	height: 500px;
	overflow: scroll;
	padding-left: 150px;
}

.fixed {
	position: fixed;
	top: 80px;
	left: 10px;
	width: 100px;
	height: 100px;
	background-color: blue;
	/* color: white; */
	/* color: #8d8d8d; */
	/* color: rgb(255, 245, 235) */
	color: rgba(255, 245, 235, 0.5);
}
